/* Start Global Rouls */

:root {
    --main-color: #2980b9;
    --main-color-alt: #3498db;
    --main-back-color: #2980b9;
    --gray-color: #666;
    --dark-color: #333;
    --white-color: #FFF;
    --padding-section: 100px;
    --main-transition: 300ms ease-in-out;
    --border-radius: 5px;
    --border-color: #EEE;
    --smaller-font: 10px;
    --small-x-font: 12px;
    --small-font: 14px;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body.cairo {
    font-family: 'Cairo', sans-serif;
}

body.robto {
    font-family: 'Roboto', sans-serif;
}

body.open-sans {
    font-family: 'Open Sans', sans-serif;
}

body.poppins {
    font-family: 'Poppins', sans-serif;
}

body.src-pro {
    font-family: 'Source Sans Pro', sans-serif;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

.text-center {
    text-align: center;
}

.text-upper {
    text-transform: uppercase;
}

.back-color {
    background-color: var(--main-back-color);
    color: var(--white-color);
}

.main-color {
    color: var(--main-color);
}

.padding-section {
    padding-top: var(--padding-section);
    padding-bottom: var(--padding-section);
}

.flex-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.flex-column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.grid-small {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 30px;
}

.grid-big {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 30px;
}

.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
}

.container {
    padding-left: 20px;
    padding-right: 20px;
    margin-left: auto;
    margin-right: auto;
}


/* Start Media Query */


/* Small Screen */

@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}


/* Medium Screen */

@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}


/* Large Screen */

@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}


/* End Media Query */


/* End Global Rouls */


/* Start Header */

.header {
    position: relative;
    background-image: url(../Img/head_1.jpeg);
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    object-fit: cover;
}


/* Start navbar */

.header .navbar {
    height: 50px;
    position: fixed;
    width: 100%;
    top: 0;
}

.header .logo {
    color: var(--white-color);
    font-size: 20px;
    font-weight: normal;
}

.header .logo span {
    background-color: var(--white-color);
    padding: 2px 5px;
    border-radius: 5px;
}

.header .links {
    position: relative;
}

.header .links>li {
    display: inline-block;
}

.header .links>li>a {
    color: var(--white-color);
    display: block;
    padding: 0 10px;
    line-height: 50px;
    transition: background var(--main-transition);
}

.header .links>li>a:hover {
    background-color: var(--main-color-alt);
}

.header .link-mega {
    position: absolute;
    top: 150%;
    right: 3px;
    background-color: var(--main-color-alt);
    width: 107px;
    opacity: 0;
    pointer-events: none;
    transition: var(--main-transition);
}

.header .link-mega.show {
    opacity: 1;
    pointer-events: all;
    top: 100%;
}

.header .link-mega::after {
    content: '';
    position: absolute;
    border: 15px solid;
    border-color: transparent transparent var(--main-color-alt) transparent;
    top: -30px;
    right: 40px;
}

.header .link-mega li a {
    color: var(--white-color);
    display: block;
    padding: 8px 10px;
    font-size: var(--small-font);
    transition: background var(--main-transition);
}

.header .link-mega li:not(:last-of-type) {
    border-bottom: 1px solid var(--border-color);
}

.header .link-mega li:first-of-type {
    border-top: 1px solid var(--border-color);
}

.header .link-mega li a:hover {
    background-color: var(--main-color);
}


/* End navbar */


/* End Header */