/* Start Global Rouls */

:root {
    --main-color: #2980b9;
    --main-color-alt: #3498db;
    --main-back-color: #2980b9;
    --gray-color: #666;
    --dark-color: #333;
    --white-color: #FFF;
    --padding-section: 100px;
    --main-transition: 300ms;
    --border-radius: 5px;
    --border-color: #EEE;
    --smaller-font: 10px;
    --small-x-font: 12px;
    --small-font: 14px;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body.cairo {
    font-family: 'Cairo', sans-serif;
}

body.robto {
    font-family: 'Roboto', sans-serif;
}

body.open-sans {
    font-family: 'Open Sans', sans-serif;
}

body.poppins {
    font-family: 'Poppins', sans-serif;
}

body.src-pro {
    font-family: 'Source Sans Pro', sans-serif;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

.text-center {
    text-align: center;
}

.text-upper {
    text-transform: uppercase;
}

.back-color {
    background-color: var(--main-back-color);
    color: var(--white-color);
}

.main-color {
    color: var(--main-color);
}

.padding-section {
    padding-top: var(--padding-section);
    padding-bottom: var(--padding-section);
}

.flex-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.flex-column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.grid-small {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 30px;
}

.grid-big {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 30px;
}

.container {
    padding-left: 20px;
    padding-right: 20px;
    margin-left: auto;
    margin-right: auto;
}


/* Start Media Query */


/* Small Screen */

@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}


/* Medium Screen */

@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}


/* Large Screen */

@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}


/* End Media Query */


/* End Global Rouls */


/* Start Header */

.header {
    position: relative;
}


/* Start navbar */

.header .navbar {
    height: 50px;
    position: fixed;
    width: 100%;
    top: 0;
}

.header .navbar .links li {
    display: inline-block;
}


/* End navbar */


/* End Header */